.image-viewer {
    background-color: black;
    height: 100vh;
    color: white;
    max-width: 100%;
    overflow: hidden;
}

polus-viv-menu {
    width: 365px;
    float: right;
    position: relative;
    margin: 20px;
    background-color: white;
}
polus-layer-menu {
    position: absolute
}